.nav-link-box2 {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    text-align: center;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px; 
    margin: 0px 0;
  }
  
  .nav-link-box2:hover {
    background-color: #f0f0f0;
  }
  
  .active2 {
    background-color: #007bff;
    color: white;
  }
  