
/*CELOTEN OKVIR*/
.scans-container {
    background-color: #f9f9f9;
    padding-left: 10px;
}

.results-container,
.toolpicker-container {
    border: 1px solid #00152c; 
    background-color: #eff7ff; 
    padding: 15px;
    margin-bottom: 10px; 
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2); 
    
}