.personal-data {
    padding: 14px;
  }
  
  .personal-data .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .personal-data h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    color: #e3e3e3;
  }
  
  .data-item {
    margin-bottom: 10px;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
  }
  
  .descriptor {
    color: #ffffff;
  }
  
  .data {
    color: #a3a3a3;
  }
  
  .ellipsis {
    color:  #2ba8a4;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .no-flag {
    display: none;
  }
  
  .useful-flag {
    color: orange;
  }
  
  .vulnerable-flag {
    color: red;
  }

  .logo-personal{
    height: 40px;
    width: auto;
  }