.toolpicker-container {   
    margin-bottom: 10px;
    padding: 30px;
    padding-top: 70px;
  
}

.toolpicker-header {
    margin-bottom: 15px;
    font-size: 16px;
}

.tool-entry {
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.tool-entry.selected {
    background-color: #d0e6ff; 
}


.form-check-input {
    margin-left: auto;
    pointer-events: none; 
}

.form-check-input:checked {
    background-color: #0056b3; 
    border-color: #024994; 
}

.form-check-label {
    flex-grow: 1;
    pointer-events: none; 
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-top: 10px; 
}

.btn-hacker {
    background-color: #006bdd; /* Updated background color */
    color: white;
    padding: 10px 20px;
    border: 2px solid #004494; /* Added border */
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-hacker i {
    margin-right: 8px;
    color: rgb(255, 255, 255);
}

.btn-hacker:hover {
    background-color: #1e84f1;
    border-color: #006bdd; /* Border color remains consistent on hover */
    color: rgb(255, 255, 255);
}

.btn-notes {
    justify-content: center;
    padding: 6px 12px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.btn-notes:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
}


.btn-notes.selected {
    background-color: #e0e0e0; /* Slightly darker background when selected */
    border-color: #000000;
}
