
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  

  
.card {
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    width: 18rem;
    height: 12rem;
}

.card:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.text-left {
    text-align: left;
  }


  .card-custom {
    width: 10rem;
    height: 10rem;
    width: 100%;
  }
  .frequent-scans-container {
    text-align: left;
    padding-top: 10px;
    
  }