/* Add these styles to your existing CSS file */

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.card-custom {
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  width: 20rem; /* Increase the width */
  height: 14rem; /* Increase the height */
  background-color: white; /* Set background color to white */
  border: 1px solid #ccc; /* Gray border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a boxed shadow */
}

.card-custom:hover {
  transform: scale(1.05);
  background-color: #f0f0f0; /* Light gray background on hover */
}

.card-custom-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-custom-title,
.card-custom-text {
  text-align: center;
}

.card-custom-text {
  margin-top: auto; /* Push the text to the bottom */
  text-align: left;
  margin-left: 10px; /* Add left margin */
}

.card-custom {
  width: 15rem; /* Adjust width */
  height: 13rem; /* Adjust height */
}
.badge-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}