.table-custom {
    background-color: black;
    color: white;
  }
  
  .table-custom thead tr {
    background-color: cyan;
  }
  
  .table-custom tbody tr:nth-child(even) {
    background-color: #222; 
  }
  
  .table-custom tbody tr:nth-child(odd) {
    background-color: black;
  }
  