.description-docs{
    margin-top: 20px;
    color: white;
    
}

.header-docs{
    color: white;
    text-decoration: underline;
    text-decoration-color: #2BA8A4;
    font-size:30px;
}



.sub-header-docs{
    color: white;
    font-size: 25px;
}