.description-docs{
    margin-top: 20px;
    color: white;
    font-weight: normal !important;    
}

.header-docs{
    color: white;
    text-decoration: underline;
    text-decoration-color: #2BA8A4;
    font-size:30px;
    font-weight: normal;    
}



.sub-header-docs{
    color: white;
    font-size: 25px;
    font-weight: normal;    
}

.tools-title{
    font-family: "Space Mono";
}

.tools-listitem{
    text-decoration: none;

}

.tools-listitem:hover{
    text-decoration: underline;
    text-decoration-color: #2BA8A4;
}