
  .docs-header {
    position: fixed;
    top: 1;
    left: 140px;
    width: 350px;
    z-index: 1000; 
    height: 100%;
  }


  .nav-link-box-docs {
  
    padding-left: 10px;
    height: 40px; 
    text-align: left;
    background-color: #1b1b1b;
    border-radius: 0;
    align-items: center  !important;

  }

  .nav-link-box-docs p {
    margin: 0; 
    display: flex;
    align-items: center; 
    color:#E5E5E5;
    font-size: 15px;
  }
  
  
  .nav-link-box-docs:hover {
    background-color: #1b1b1b; 

  }

 