.features-section {
    padding: 50px 0;
}

.purpose-content {
    padding-right: 70px; /* Add horizontal padding to purpose paragraph */
}

h2 {
    font-family: 'Space Grotesk', sans-serif; /* Same as Overview heading */
    font-size: 48px; /* Same as Overview heading */
    color: #e5e5e5;
    margin-bottom: 30px;
}

p {
    font-family: 'Space Mono', monospace; 
    font-size: 20px;
    color: #a3a3a3;
    line-height: 1; 
}

.img-fluid1 {
    width: 100%;
    height: 100%;
   
}


.features-heading h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    color: #e5e5e5;
    margin-bottom: 20px;
    margin-top: 100px; 

}

.features-heading p {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: #a3a3a3;
    line-height: 1.4;
}

.card {
    background-color: #171717; /* Background color in hex */
    color: #e5e5e5;
    border: 1px solid #404040; /* Border color in hex */
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Add transition for transform and border color */
    text-align: left; 
    border-radius: 0;
}

.card:hover {
    transform: scale(1.05); /* Slight zoom effect */
    border-color: #86e4e1; /* Very light turquoise green */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card .fa {
    color: #86e4e1; 
}

.card-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.card-text {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

.card-body i {
    color: #86e4e1;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .features-section {
        padding: 30px 20px;
    }

    .purpose-content {
        padding: 0 20px; /* Adjust horizontal padding for smaller screens */
    }

    .features-section h2 {
        font-size: 40px;
    }

    .features-section p {
        font-size: 16px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-text {
        font-size: 14px;
    }
}
