.search-form-container {
    position: relative;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ebebeb;
    font-family: 'Space Mono', monospace;
}


.custom-title-input-container {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 2; 
}

.custom-title-input {
    width: 30%;
    padding: 8px;
    border-radius: 0;
    border: 1px solid #e3e3e3;
    background-color: #1e1e1e;
    color: #e3e3e3;
    font-size: 16px;
}

.custom-form-group {
    margin-bottom: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2; 
}

.custom-form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #e3e3e3;
    font-weight: bold;
}

.custom-form-control {
    width: 100%;
    padding: 8px;
    border-radius: 0;
    border: 1px solid #e3e3e3;
    background-color: #1e1e1e;
    color: #e3e3e3;
    font-size: 16px;
    
}

.custom-form-text {
    margin-top: 5px;
    color: #e4e4e4;
    font-size: 12px;
}

.custom-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
}

.custom-radio {
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.custom-radio input {
    margin-right: 5px;
    accent-color: #2ba8a4;
}

.info-icon {
    margin-left: 5px;
    color: #a8e9e7;
    position: relative;
    cursor: default;
}

.info-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #1d1d1d;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    z-index: 1;
    font-size: 12px;
}

.info-icon:hover::after {
    opacity: 1;
    visibility: visible;
}

textarea.custom-form-control {
    resize: none;
    height: 80px;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .search-form-container {
        padding: 10px; /* Reduce horizontal padding on mobile */
    }

    .custom-title-input {
        width: 80%; /* Increase width to 80% on mobile */
        font-size: 14px; /* Smaller text on placeholder for mobile */
    }

    .custom-form-group {
        width: 90%; /* Increase width of form groups on mobile */
    }

    .custom-form-control {
        font-size: 14px; /* Smaller text size for inputs on mobile */
    }

    .custom-form-label {
        font-size: 14px; /* Smaller label text on mobile */
    }
}