.login-container {
    margin-top: 100px;
    
  }

  .input-black{
    padding: 8px;
    border-radius: 0;
    border: 1px solid #e3e3e3;
    background-color: #1e1e1e;
    color: #e3e3e3;
    font-size: 16px;
  }


  .input-black:focus {
    padding: 8px;
    border-radius: 0;
    border: 1px solid #e3e3e3;
    background-color: #1e1e1e;
    color: #e3e3e3;
    font-size: 16px;
    outline: none !important;
    box-shadow: none !important;

}


.input-black:not(:focus) {
  background-color: #252525;
  color:#e5e7eb;
}

.red-button{
  border-radius: 0;
  font-family: 'Space Grotesk', sans-serif;
}
.button-black {
  background-color: #2BA8A4 !important;
  color: white !important;
  border-color: #2BA8A4 !important;
  font-family: 'Space Grotesk', sans-serif !important;
  border-radius: 0 !important;
}

.button-black:hover {
  color: white !important;
  outline: none !important;
  box-shadow: none !important;
  border-color: #b3dfde !important;
  background-color: #249591  !important;
}


.button-black:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important; 
}.button-black:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important; 
}

.continue-with{
  margin-top: 20px;
  margin-bottom: 20px;
}

.error{
  background-color: #252525;
  color: white;
  border-color: #2BA8A4;
  margin-top: 20px;
}

.link-black{
  color: #2BA8A4;
  font-family: 'Space Grotesk', sans-serif;
}

.link-black:hover{
  color: #2BA8A4;
  font-family: 'Space Grotesk', sans-serif;
}