
  
  .no-iskanja-message {
    padding: 20px;
    text-align: center;
  }
  
  .nav-link-box-scans {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-ellipsis-icon {
    font-size: 1.2em; 
    color: #E5E5E5; 
    width: 30px;
  }
  .ellipsis-dropdown-toggle {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .dropdown-menu-scans {
    min-width: 200px;
  }

  .activeScans{
    color:#2BA8A4 !important;
    background-color: #a3a3a30b !important; 
  }

  .nav-link-box-scans {

    padding: 10px;
    border-radius: 4px;
    color:white;
    text-align: center;
    text-decoration: none;
    align-items: center;
    gap: 8px; 
    margin: 0px 0;
    width: 100%;
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;

  }
  
  .nav-link-box-scans:hover {
    background-color: #a3a3a362; 
    color:#2BA8A4;
  }
  
  .nav-inner {
    width: 100%;
    display: flex;
    flex-direction: column; 

  }
  

  .scans-header {
    flex-direction: column;
height: 100%;
border-right: 1px solid #e5e7eb;
  }
  
  .nav-scrollable {
    overflow-y: auto; 
       height: 65vh; 
    width:100%;
background-color: #252525;

  }
  @media (min-width: 2000px) {
    .nav-scrollable {
      height: 75vh;
    }
  }
  .nav-scrollable::-webkit-scrollbar {
    width: 8px;
  }
  
  .nav-scrollable::-webkit-scrollbar-thumb {
    background-color: #2BA8A4;
    border-radius: 4px;
  }
  
  .nav-scrollable::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .fixed-bottom-left {
    position: fixed;
    bottom: 0px; /* Adjust as per your need */
    left: 0px; /* Adjust as per your need */
    background-color: red;
    width:200px;
    height: 70px;
  }

  .left-div {
    height: 150px;
    display: flex; /* Enable Flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: #252525;
  }
.h3{
  color: #E5E5E5;
}
.button-plus {
  background-color: #2BA8A4;

  padding: 10px 20px; 
  color: white; 
  border: 2px solid white;
  position: relative; 
  transition: all 0.3s ease; 
  cursor: pointer;
}

.button-plus::before {
  content: ''; 
  position: absolute;
  top: -1px; 
  left: -1px; 
  right: -1px; 
  bottom: -1px; 
  border: 1px solid white; 
  transition: all 0.3s ease; 
}

.button-plus:hover {
  background-color: #239B96; 
  color: #FFF; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.button-plus:hover::before {
  top: -8px; 
  left: -8px; 
  right: -8px; 
  bottom: -8px; 
}