.footer {
    background-color: #f1f1f117;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer-content{
    margin-bottom: 0px;
    font-size: 12px;
  }