.scans-page-container {
    padding: 40px;
    background-size: cover;
    background-position: center top;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.scans-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.results-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
    background-color: #2c2c2c; 
    position: relative;
    overflow: hidden;
}

.results-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../../public/images/logo.png') no-repeat center center;
    background-size: contain;
    opacity: 0.2;
    z-index: 1;
}

@media (min-width: 1400px) {
    .scans-container {
        flex-direction: row;
    }

    .toolpicker-container {
        flex: 0 0 16.6667%; 
        max-width: 16.6667%;
    }

    .results-container {
        flex: 0 0 83.3333%; 
        max-width: 83.3333%;
    }
}


@media (max-width: 1599.98px) and (min-width: 1400px) {
    .scans-container {
        flex-direction: row;
    }

    .toolpicker-container {
        flex: 0 0 30%; /* 3 columns */
        max-width: 30%;
    }

    .results-container {
        flex: 0 0 70%; /* 7 columns */
        max-width: 70%;
    }
}

@media (max-width: 991.98px) {


    .toolpicker-container, .results-container {
        padding: 10px;
    }
}
