.scans-page-container {
    padding: 40px;
    background: url('../../../public/images/bg.png') no-repeat center center/cover;
    background-size: cover;
    background-position: center top;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}


.scans-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%; /* Ensure the container takes up the full height */
}

.results-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
    background-color: #2c2c2c; 
    position: relative;
    overflow: hidden; /* Ensure content stays within the container */
}

.results-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../../public/images/logo.png') no-repeat center center;
    background-size: contain;
    opacity: 0.2; /* Make the logo less visible */
    z-index: 1;
}

/* Responsive Styles */
@media (min-width: 992px) {
    .scans-container {
        flex-direction: row;
    }

    .toolpicker-container {
        flex: 0 0 16.6667%; /* 2 columns out of 12 */
    }

    .results-container {
        flex: 0 0 83.3333%; /* 10 columns out of 12 */
    }
}

@media (max-width: 991.98px) {
    .scans-container {
        flex-direction: column;
    }

    .toolpicker-container, .results-container {
        padding: 10px;
    }
}
