.toolpicker-container {
    position: relative;
    background: url('../../../../public/images/toolbg.jpg') no-repeat center center/cover;
    border: 1px solid #2ba8a4;
    font-family: 'Space Mono', monospace;
    color: #e3e3e3;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.toolpicker-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.521); /* Black background with transparency */
    z-index: 1;
}

.toolpicker-header {
    font-family: 'Space Mono', monospace;
    color: #e3e3e3;
    padding: 20px 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    font-size: 20px;
}

.tool-icon {
    margin-right: 10px;
}

.tool-entry {
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #2c2c2c;
    color: #e3e3e3;
    margin: 0 20px 10px 20px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.tool-entry.selected {
    background-color: #1e1e1e;
}

.form-checkbox {
    margin-left: 10px;
    cursor: pointer;
    appearance: none;
    background-color: #2c2c2c;
    border: 2px solid #e3e3e3;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
}

.form-checkbox:checked {
    background-color: #2ba8a4;
    border-color: #2ba8a4;
}

.form-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 3px;
    height: 8px;
    border: solid #2c2c2c;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.button-container {
    margin: 20px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
}

.btn-notes {
    background-color: #2ba8a4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-notes.selected {
    background-color: #217b7a;
}

.btn-notes i {
    margin-right: 5px;
}

.btn-hacker {
    display: inline-block;
    padding: 6px 12px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #2ba8a4; 
    color: #060606;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Space Mono', monospace; 
    position: relative; 
}

.btn-hacker:hover {
    background-color: #249591;
}

.btn-hacker i {
    margin-right: 5px;
}

/* Responsive Styles */
@media (max-width: 991.98px) {
    .toolpicker-container {
        margin-bottom: 0;
    }
}
